#prescription {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    background-color: #eeeeee;
    overflow: auto;


    md-card {
        padding: 5px;
    }

    .md-button {
        position: fixed;
        bottom: 50px;
        right: 0;
        margin: 10px;
        background-color: #3dbeae;
    }

    .md-list-item-text {
        padding-left: 45px;

        &:before, &:after {
            content: '';
            display: block;
            height: 10px;
            width: 10px;
            position: absolute;
            left: 15px;
            transform: rotate(45deg);
        }

        &:before {
            background: green;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            top: 32px;
            left: 16px;
        }

        &:after {
            background: red;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            top: 25px;
            left: 23px;
        }

        h3 {
            font-weight: 700;
        }
    }
}

.fullsize-dialog {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: 95%;
    height: 80%;



    md-card{
        border: none;
        height: 100%;
        margin: 0;
        box-shadow: none;

        #header {
            text-align: center;
            background-color: #3dbeae;
            color: white;
            width: 100%;
            margin: 0;
            padding: 0;
            font-size: 20px;
        }
    }

    .md-button {
        &.add {
            background-color: #3dbeae;
            color: white;

            &:disabled {
                background-color: rgb(250,250,250);
            }
        }
    }
}
