#folder {
    width: 100%;
    height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    background-color: #eeeeee;
    overflow: auto;

    md-card {
        height: 40vh;

        @media screen and (max-width: 640px) {
            & {
                height: 30vh;
            }
        }

        img {
            height: 70%;
        }

        md-card-footer {
            text-align: center;
            background-color: #3DBE62;
            color:#fafafa;
        }
    }
}
