<div id="chat"
    ng-swipe-left="goToBio()"
    ng-swipe-right="goToRooms()">
    <div
        class="channel-list"
        layout="column"
        layout-align="center center"
        ng-repeat="channel in channels"
        flex-gt-sm="50">
        <div class="channel ripple" layout="row" layout-align="center center">
            <img flex="20" class="contact" ng-src="{{channel.picture}}"></img>
            <div flex="70" class="detail" layout="column" layout-align="center start">
                <p flex="100" class="contact-name">
                    {{ channel.contact }}
                </p>
                <p flex="100" class="date">
                    {{ channel.last_message_date }}
                </p>
                <p flex="100" class="last-message">
                    {{ channel.last_message }}
                </p>
            </div>
        </div>
        <md-divider></md-divider>
    </div>
    <div class="send-box" layout="row" layout-align="space-around center">
        <md-input-container flex="75">
            <label>Title</label>
            <input ng-model="user.title">
        </md-input-container>
        <div flex="20" class="button-container">
            <md-button flex layout="column" layout-align="center center" class="md-fab" aria-label="Comment">
                <i class="material-icons" flex>send</i>
            </md-button>
        </div>
    </div>
</div>
