#bio {
    width: 100vw;
    height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
    background-color: #eeeeee;
    overflow: auto;

    img {
        width: 85vw;
        margin: 0 auto;
        text-align: center;
    }

    span.md-headline {
        text-align: center;
    }

    .send-box {
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 100px;
        margin-bottom: 50px;

        background-color: white;

        .md-button {
            font-size: 10px;
        }

        .button-container {
            text-align: center;

            .md-button.md-fab {
                background-color: #3dbeae;
                text-align: center;
                margin: 0 auto;

                i {
                    text-align: center;
                    color: #fafafa;
                    margin-top: 25px;
                    margin-left: 5px;
                }
            }
        }
    }
}
